{% extends 'home.html' %}

{% load static %}

{% block content %}

<div class="mainContent">
    <form method="POST" action="{% url 'addclass' %}">
        <div class="upper">
            <div class="header">
                <span class="title">Додати клас</span>
                <div class="students-ico">
                    <img src="{% static "img/class-ico.png"%}" alt="students icon"/>
                </div>
            </div>
            <div class="inputs">
                <div class="class-input">
                    <p>Клас:</p>
                    <input type="text" id="class" name="class">
                </div>
                <div class="letter-input">
                    <p>Буква:</p>
                    <input type="text" id="letter" name="letter">
                </div>
                <div class="leadteacher-input">
                    <p>Класний керівник:</p>
                    <input type="text" id="leadteacher" name="leadteacher">
                </div>
            </div>
        </div>
        <div class="lower">
            <div class="students-header">
                <div class="students-label">
                    <img src="{% static "img/student-ico.png"%}" alt="student icon"/>
                    <span>Учні:</span>
                </div>
                <div class="action-buttons">
                    <a href="/">
                        <img src="{% static "img/import-ico.png" %}" alt="import from xlxs" class="action-button"/>
                    </a>
                    <a href="/">
                        <img src="{% static "img/plus-ico.png" %}" alt="add student" class="action-button"/>
                    </a>
                </div>
            </div>
            <div class="students-list">
                <div class="singlestudent">
                    <div class="student-name">
                        <span class="counter">1.</span>
                        <span class="name">Volodymyr Zelenski</span>
                    </div>
                    <div class="student-buttons">
                        <a href="/">
                            <img src="{% static "img/edit-ico.png" %}" alt="edit student"/>
                        </a>
                        <a href="/">
                            <img src="{% static "img/delete-ico.png" %}" alt="delete student"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="create-button">
                <a href="/">
                    <div class="button">
                        <span>Додати</span>
                    </div>
                </a>
            </div>
        </div>
    </form>
</div>

<div class="addstudent-form">
    <form>
        <div class="addstudent-body">
            <div class="title">
                <span>Додати учня</span>
            </div>
            <div class="input-data">
                <div class="student-image">
                    <img src="{% static "img/student-ico.png"%}" alt="student icon"/>
                </div>
                <div class="fullname-input">
                    <p>Повне Ім`я:</p>
                    <input type="text" id="fullname" name="fullname">
                </div>
            </div>
            <div class="submit-box">
                <a href="/">
                    <div class="submit-form">
                        <span>Додати</span>
                    </div>
                </a>
            </div>
        </div>
    </form>
</div>

<div class="editstudent-form">
    <form>
        <div class="editstudent-body">
            <div class="title">
                <span>Редагувати учня</span>
            </div>
            <div class="input-data">
                <div class="student-image">
                    <img src="{% static "img/student-ico.png"%}" alt="student icon"/>
                </div>
                <div class="fullname-input">
                    <p>Повне Ім`я:</p>
                    <input type="text" id="fullname" name="fullname">
                </div>
            </div>
            <div class="submit-box">
                <a href="/">
                    <div class="submit-form">
                        <span>Редагувати</span>
                    </div>
                </a>
            </div>
        </div>
    </form>
</div>

<div class="deletestudent-form">
    <div class="deletestudent-body">
        <div class="title-info">
            <span>Ви впевнені що хочете видалити учня?</span>
        </div> 
        <div class="buttons-container">
            <a href="/">
                <div class="cancel-button">
                    <span>Скасувати</span>
                </div>
            </a>
            <a href="/">
                <div class="delete-button">
                    <span>Так</span>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="choosexlxs-form">
        <div class="choosexlxs-body">
            <div class="title-info">
                <span>Оберіть файл .xlxs з учнями</span>
            </div>
            <div class="buttons-container">
                <a href="/">
                    <div class="upload-button">
                        <span>Обрати</span>
                    </div>
                </a>
            </div>
        </div>
</div>

<div class="xlxssucces-form">
        <div class="xlxssucces-body">
            <div class="title-info">
                <span>[COUNT] учнів було успішно завантажено</span>
            </div>
            <div class="buttons-container">
                <a href="/">
                    <div class="ok-button">
                        <span>Добре</span>
                    </div>
                </a>
            </div>
        </div>
</div>

<div class="xlxserror-form">
    <div class="xlxserror-body">
        <div class="title-info">
            <span>Помилка завантаження учнів</span>
        </div>
        <div class="buttons-container">
            <a href="/">
                <div class="ok-button">
                    <span>Добре</span>
                </div>
            </a>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="{% static 'styles/addclass.css' %}" />

{% endblock content%}