{% extends 'home.html' %}
{% load static %}

{% block content %}
<div class="mainContent">
    <div class="addteacher">
        <div class="title">
            <span>Add Teacher <img src="{% static 'img/book.png' %}" alt="Book"></span>
        </div>
        <form method="post" action="{% url 'addstaff' 'teacher' %}">
            {% csrf_token %}
            <input type="hidden" id="csrfToken" value="{{ csrf_token }}">
            <input type="hidden" name="subjects" id="subjectsField">
            <input type="hidden" name="rooms" id="roomsField">
            <div class="teacher-form">
                <div class="avatar">
                    <img src="{% static 'img/avatar.png' %}" alt="Avatar">
                </div>
    
                <div class="inputs">
                    <div class="leftinputs">
                        <div class="singleinput">
                            <label>Full Name:</label>
                            <input type="text" id="teacherName" placeholder="" required>
                        </div>
                        
                        <div class="singleinput">
                            <label>Primary class:</label>
                            <input type="text" id="teacherClass" placeholder="">
                        </div>
                    </div>
                    <div class="rightinputs">
                        <div class="singleinput">
                            <label>Subjects:</label>
                            <div class="multi-input">
                                <input type="text" id="subjectInput" placeholder="">
                                <button type="button" onclick="addSubject()">
                                    <img src="{% static 'img/plus-btn.png' %}" alt="Add">
                                </button>
                            </div>
                            <div id="subjectList" class="tag-list"></div>
                        </div>
    
                        <div class="singleinput">
                            <label>Rooms:</label>
                            <div class="multi-input">
                                <input type="text" id="roomInput" placeholder="">
                                <button type="button" onclick="addRoom()">
                                    <img src="{% static 'img/plus-btn.png' %}" alt="Add">
                                </button>
                            </div>
                            <div id="roomList" class="tag-list"></div>
                        </div>
                    </div>                
                </div>
            </div>
    
            <div class="submit">
                <button type="submit" id="addTeacherBtn">Add</button>
            </div>
        </form>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="{% static 'styles/addteacher.css' %}" />
<script src="{% static 'js/addteacher.js' %}"></script>
{% endblock content %}
