{% extends 'home.html' %}

{% load static %}

{% block content %}
<div class="mainContent">
    <div class="upper">
        <div class="left">
            <div class="title">
                <span class="titlespan">School Classes</span>
            </div>
            <div class="filters">
                <div class="select-wrapper">
                    <select name="class">
                        <option value="" hidden>Class</option>
                        <option value="11">11</option>
                        <option value="10">10</option>
                        <option value="9">9</option>
                    </select>
                </div>

                <div class="select-wrapper">
                    <select name="letter">
                        <option value="" hidden>Letter</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="right">
            <a href="{% url 'addclass' %}">
                <div class="addclass">
                    <span>Add</span>
                </div>
            </a>
        </div>
    </div>
    <div class="lower">
        {% for cls in classes %}
            <div class="class-card">
                <div class="header">
                    <span class="class-name">{{ cls.name }}</span>
                    <img src="{% static 'img/class-ico.png' %}" alt="Class Icon" class="class-icon">
                </div>
                
                <div class="details">{{ cls.studentsCount }} students</div>
                
                <div class="arrow">
                    <img src="{% static 'img/arrow-right.png' %}" alt="Arrow Icon">
                </div>
                
                <div class="teacher">Class teacher: {{ cls.leadTeacher }}</div>
            </div>
        {% endfor %} 
    </div>
</div>

<link rel="stylesheet" type="text/css" href="{% static 'styles/classes.css' %}" />

{% endblock content %}
