{% extends 'home.html' %}

{% load static %}

{% block content %}
<div class="mainContent">
    <div class="header">
        <div class="schoolAndStatus">
            <p class="schoolName">
                {{ SCHOOL_NAME }}
            </p>
            <p class="date" id="currentDate"> <!-- To be updated by JS -->
                DD/MM/YYYY
            </p>
        </div>

        <div class="profileImage">
            <a href="/">
                <img src="{% static 'img/circle-school-ico.png' %}" alt="School Icon">
            </a>
        </div>
    </div>
    <div class="lower">
        <div class="statistics">
            <div class="liveStatistics">
                <div class="studentsNow">
                    <p class="studentsCounter" id="in_school"></p> <!-- To be updated by JS -->
                    <p class="studentsDesc">Учнів в школі</p>
                </div>
                <div class="lessonsNow">
                    <p class="lessonsCounter" id="lessons_live"></p> <!-- To be updated by JS -->
                    <p class="lessonsDesc">Уроків в [LIVE]</p>
                </div>
                <div class="absentNow">
                    <p class="absentCounter" id="absent_no_reason"></p> <!-- To be updated by JS -->
                    <p class="absentDesc">Відсутні без причини</p>
                </div>
            </div>
            <div class="dailyStatistics">
                <p class="tableTitle">Відвідуваність учнів</p>
                <div class="circleWrapper">
                    <canvas id="attendanceChart"></canvas>
                </div>
            </div>
        </div>
        <div class="reportsAndSchedule">
            <div class="lastReport">
                <p class="lastReportTitle">
                    Останній звіт
                </p>
                <img src="{% static 'img/last-report-ico.png' %}" alt="School Icon">
                <p class="lastReportDate">
                    За 01/10 →
                </p>
            </div>
            <div class="schedule">
                <p class="scheduleTitle">Події в закладі</p>
                <div class="singleEvent">
                    <div class="description">
                        <p class="time">
                            16:30 - 18:00
                        </p>
                        <p class="eventTitle">
                            Нарада
                        </p>
                    </div>
                    <div class="proceedButton">
                        <a href="/">
                            <p>→</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js"></script>

<script>
    var schoolID = "{{ SCHOOL_ID }}";
    var totalRegistered = {{ TOTAL_REGISTERED }};
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/firebase-config.js' %}"></script>
<script src="{% static 'js/home.js' %}"></script>
{% endblock content %}
