{% extends 'home.html' %}
{% load static %}

{% block content %}
<div class="mainContent">
    <div class="upper">
        <div class="left">
            <div class="title">
                <span class="titlespan">School Staff</span>
            </div>

            <div class="search-wrapper">
                <input type="text" placeholder="Search staff">
            </div>
        </div>
        <div class="right">
            <div class="addstaff" id="addstaff">
                <span>Add</span>
            </div>
        </div>
    </div>

    

    <div class="lower">
        {% for staff in staff_list %}
            <div class="staff-card {% if staff.inactive %}inactive{% endif %}">
                <div class="avatar">
                    <img src="{% static 'img/avatar.png' %}" alt="Avatar">
                </div>

                <div class="info">
                    <div class="name">{{ staff.full_name }}</div>
                    <div class="role">
                        {% if staff.role == "teacher" %}
                            Teacher
                        {% elif staff.role == "med" %}
                            Medical worker
                        {% else %}
                            Other staff
                        {% endif %}
                    </div>
                    {% if staff.role == "teacher" %}
                    <div class="class">
                        Class: {{ staff.primaryclass|default:"N/A" }}
                    </div>
                    {% endif %}
                </div>

                <div class="arrow">
                    <img src="{% static 'img/arrow-right.png' %}" alt="Arrow">
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="choose-type modal">
    <div class="choose-type-body">
        
    <a href="{% url 'addstaff' 'teacher' %}">
      <div class="choose-card">
        <div class="choose-icon">
            <img src="{% static 'img/book.png' %}" alt="Avatar">
        </div>
        <div class="choose-label">Teacher</div>
      </div>
    </a>
    
    <a href="{% url 'addstaff' 'med' %}">
      <div class="choose-card">
        <div class="choose-icon">
            <img src="{% static 'img/medkit.png' %}" alt="Avatar">
        </div>
        <div class="choose-label">Medical worker</div>
      </div>
    <a/>
  
    </div>
  </div>

<link rel="stylesheet" type="text/css" href="{% static 'styles/staff.css' %}" />

<script src="{% static 'js/staffPage.js' %}"></script>

{% endblock content %}
