<!DOCTYPE>
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Lessonix Admin</title>

    <link rel="stylesheet" type="text/css" href="{% static 'styles/navbar.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    {% include 'navbar.html' %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}
    {% endblock %}
</body>
</html>