{% load static %}

<nav class="sidebar">
    <div class="navbar-content">
        <div class="header-title">
            <a href="/">
                <p>Lessonix Admin</p>
            </a>
        </div>

        <div class="links-container">

            <a href="/">
                <div class="classes-link">
                    <div "links-text">IMG Класи</div>
                </div>
            </a>
            
            <a href="/">
                <div class="personal-link">
                    <img src="{% static 'img/personal-btn.png' %}" alt="Statistics Icon">
                    <div "links-text">Персонал</div>
                </div>
            </a>
            
            <a href="/">
                <div class="statistics-link">
                    <img src="{% static 'img/statistics-btn.png' %}" alt="Statistics Icon">
                    <div "links-text">Статистика</div>
                </div>
            </a>
            
            <a href="/">
                <div class="schedule-link">
                    <div "links-text">IMG Розклад</div>
                </div>
            </a>
            
            <a href="/">
                <div class="reports-link">
                    <div "links-text">IMG Звіти</div>
                </div>
            </a>   

        </div>

        <div class="logout-container">
            <a href="/">
                <div class="logout-link">
                    <div class="logout-text">Вийти</div>
                    <img src="{% static 'img/logout-btn.png' %}" alt="School Icon">
                </div>
            </a>
        </div>
    </div>
</nav>
