{% load static %}

<nav class="sidebar">
    <div class="navbar-content">
        <div class="header-title">
            <a href="/">
                <p>Lessonix Admin</p>
            </a>
        </div>

        <div class="links-container">

            <a href="{% url 'classes' %}">
                <div class="classes-link">
                    <img src="{% static 'img/classes-btn.png' %}" alt="Statistics Icon">
                    <div class="links-text">Classes</div>
                </div>
            </a>
            
            <a href="/">
                <div class="personal-link">
                    <img src="{% static 'img/personal-btn.png' %}" alt="Statistics Icon">
                    <div class="links-text">Staff</div>
                </div>
            </a>
            
            <a href="/">
                <div class="statistics-link">
                    <img src="{% static 'img/statistics-btn.png' %}" alt="Statistics Icon">
                    <div class="links-text">Statistics</div>
                </div>
            </a>
            
            <a href="/">
                <div class="schedule-link">
                    <img src="{% static 'img/schedule-btn.png' %}" alt="Statistics Icon">
                    <div class="links-text">Schedule</div>
                </div>
            </a>
            
            <a href="/">
                <div class="reports-link">
                    <img src="{% static 'img/reports-btn.png' %}" alt="Statistics Icon">
                    <div class="links-text">Reports</div>
                </div>
            </a>   

        </div>

        <div class="logout-container">
            <a href="{% url 'logout' %}">
                <div class="logout-link">
                    <div class="logout-text">Logout</div>
                    <img src="{% static 'img/logout-btn.png' %}" alt="School Icon">
                </div>
            </a>
        </div>
    </div>
</nav>
